.home-page {
  background-image: url('img/bg-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.home-container {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 20px; 
  border-radius: 10px; 
  text-align: center;
}
/* ProductList.css */
body {
  background-image: url('img/bg.png'); 
  background-size: cover;
}
/* Sidebar Styles */
.sidebar {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.card-img-top {
  height: 300px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure images maintain aspect ratio and cover the entire space */
  object-position: center; /* Center the images within the card */
}
